h1.title {
  color: yellow;
  text-shadow: 8px 5px darkred;
  margin-bottom: 50px;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 7.5rem;  
  
}

.header {
  width: 100%;
  height: 30%;
  text-align: center;
  align-content: center;
  font-family: 'Bangers', cursive;

}

.lead {
  background-color:  darkred;
  color: whitesmoke;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 7px;
  /* width: 70%; */
  text-align: center;
  border-radius: 7px;  
  align-content: left;
}

.highScore {
  background-color:  green;
  color: whitesmoke;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  display: inline-block;
  margin: 10px;
  padding: 7px;
  /* width: 70%; */
  text-align: center;
  border-radius: 7px;  
  align-content: left;
  font-size: 1.25rem;
}



.scoreMsg {
  background-color: rgba(88, 74, 74, 0.65);  
  color: whitesmoke;
  text-align: center;
  font-family: 'Quantico', sans-serif;
  display: block;
  border-radius: 7px;  
  font-size: 2rem;
  font-weight: 300;


}



