
.card {
    /* background; */
    border-radius: 4px;
    height: 225px;
    width: 225px;
    margin: 1rem;    
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;   
    cursor: pointer;    
    min-width: 225px;
    min-height: 225px;
    display: inline-block;
    margin-bottom: 100px;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:white;
    border-bottom: solid 2px darkred;
  }
  .card > .img-container > img {
    width: 95%
  }
  
  .card > .content {
    padding: 0 1rem;   
    font-size: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999; 
    width: 225px;
    min-width: 225px;  
   
  } 
 
  
  .beyName {
    color: darkred;
    font-family: 'Bangers', cursive;
  }


